body{
    background-color: #EDDDD0;
}
[link]:hover, a:hover{
    color: #db504a;
}
[link]:visited{
    color:#334259;
}
top header, top nav{
    background-color: #a6cad4;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
}
header *, nav *{
    display: flex;
    justify-content: center;
    margin: 0px;
}
nav *{
    margin: 5px;
}
footer{
    display: flex;
    background-color: #a6cad4;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    justify-content: center;

}
footer *{
    margin: 0px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr)
}
#item1{
    grid-area: 1 / 1 / span 1 / span 3;
}
#item2{
    grid-area: 2/ 1 / span 1 / span 2;
}
#item3{
    grid-area: 2/3;
}
section *{
    margin-top: 10px;
}
@media screen and (min-width: 600px){
    top nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #course-grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .course-item1{
        grid-area: 1/1/span 1/ span 3;
    }
    .course-item2{
        grid-area: 3/1;
    }
    .course-item3{
        grid-area: 2/2/span 1/span 2;
    }
}
