body{
    background-color: #EDDDD0;
}
top {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
header *, nav *{
    display: flex;
    justify-content: center;
    margin: 0px;
}
nav *{
    margin: 5px;
}
