body {
    background-color:antiquewhite;
}
.top-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    text-align: center;
}
h1{
    margin-top: 4px;
    margin-bottom: 0px;
}
h2{
    margin:0px;
}
nav *{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2px;
    padding: 4px;
}